
body{
    background-color: #2abb9b !important;
}
main{
    margin-top:20%;
}
.panel-cont{
    width:60%;
    float:right;
}
.panel {
    width:30%;
    height: auto;
    float:left;
    position: absolute;
    margin: auto;
    color: #f0edef;
    background-color: #f0edef !important;
}

.btn-danger{
    background-color:#2abb9b !important;
    border-color: #2abb9b !important;
}
.gray{
    color: #bec8ca;
}

a:link{
    display: block;
    text-align: center;
    text-decoration: underline;
    color: #cdd2d5;
}
.icon{
    width:38%;
    position: absolute;

}

span,b{
    color:#e2fefe;
}
.loader {
  border: 16px solid #f0edef;
  border-radius: 50%;
  border-top: 16px solid #2abb9b;
  width: 120px;
  height: 120px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media(min-width:740px){
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: -10px;
    border: medium solid #f0edef;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f0edef transparent #f0edef;
}
section{
    float:right;
}
}
@media(max-width:739px){
    .panel-cont{
    width:80%;
    float:right;
}
.icon{
    width:38%;
    position: relative;
    margin: auto;
}
section{
    margin: auto;
    float:none;
}
.panel{

    width:50%;
    position: relative;
    margin-top:5%;
}
.right::before {
  content: " ";
  position:absolute; 
  left:50%;
  transform: translateX(-50%);
  top:-20px;
  border:10px solid transparent;
  border-bottom-color: #f0edef;
}
}